$c-active: #E30060;

@mixin controls-button {
  position: relative;
  display: block;
  width: 50px;
  height: 30px;
  cursor: pointer;
}

@mixin controls-toggle {
  position: absolute;
  top: 10px;
  left: 20px;
  width: 8px;
  height: 8px;
  box-sizing: content-box;
  border: 1px solid #fff;
  border-radius: 2px;

  background: rgba(#fff, 0.15);
  transition-property: border-color, background;
  transition-duration: 200ms;
  content: "";
}

@mixin controls-label {
  position: absolute;
  top: 50%;
  left: 100%;
  color: #fff;
  white-space: nowrap;
  opacity: 0;
  visibility: hidden;

  transform: translateY(-50%);
  transition: all 150ms;

  &:before {
    position: absolute;
    top: 50%;
    right: 100%;
    width: 8px;
    border-top: 1px solid #fff;
    margin-right: 6px;
    content: "";
  }
}

.controls-button {
  @include controls-button;

  &:before { @include controls-toggle; }
  > .label { @include controls-label; }

  &:hover > .label {
    visibility: visible;
    opacity: 1;
  }

  &.active:before {
    background: $c-active;
    border-color: $c-active;
  }

  &:hover:before { border-color: $c-active; }
  &.active:hover:before { border-color: #fff; }

  &.hidden { display: none; }
}

.controls-menu {
  $duration: 200ms;
  $delay: 200ms;

  position: relative;
  overflow: hidden;
  height: 0;

  transition: height $duration;
  transition-delay: $delay;

  > .inner {
    opacity: 0;
    visibility: hidden;
    transform: translateX(-8px);
    transition: all $duration;
    transition-delay: 0ms;
  }

  &:after {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    border-left: 1px solid #fff;
    content: "";
  }

  &.active {
    opacity: 1;
    visibility: visible;
    transition-delay: 0ms;

    > .inner {
      opacity: 1;
      visibility: visible;
      transform: translateX(0);
      transition-delay: $delay;
    }
  }

  &.visible {
    overflow: visible;
  }

  &.hidden { display: none; }
}
