#container {
  @include absolute(0);
  overflow: hidden;
}

.controls {
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: 2;
}

.controls-button {
  width: 50px;
  height: 50px;
  cursor: pointer;

  &:before {
    position: absolute;
    top: 20px;
    left: 20px;
    width: 10px;
    height: 10px;
    border-radius: 2px;

    background: #fff;
    transition: background 100ms;
    content: "";
  }

  &.active:before,
  &:hover:before {
    background: #e30060;
  }
}

.modal {
  $width: 300px;
  $height: 120px;

  position: absolute;
  z-index: 2;
  top: 50%;
  left: 50%;

  width: $width;
  padding: 20px;
  margin-left: -$width / 2;
  margin-top: -$height / 2;

  border-radius: 4px;
  background: rgba(#111, 0.9);
  opacity: 0;
  visibility: hidden;
  transform: scale(0.9);
  transition: all 200ms ease-in;

  &.active,
  &.active + .modal-cover {
    transform: scale(1);
    opacity: 1;
    visibility: visible;
  }
}

.modal-cover {
  @include absolute(0);
  z-index: 1;
  background: rgba(#111, 0.5);
  opacity: 0;
  visibility: hidden;
  transition: all 200ms;
}
