.info-modal {
  h1 {
    margin: 4px 0 8px;

    &:after {
      display: block;
      content: "-------";
    }
  }

  dl {
    display: block;
    margin: 4px 0;
  }

  dt {
    color: #e9e9e9;
    display: inline-block;
    opacity: 0.5;

    &:after {
      display: inline-block;
      padding: 0 4px;
      color: #e30060;
      content: "/";
    }
  }

  dd {
    display: inline-block;
    color: #fff;
  }

  a {
    position: relative;
    display: inline-block;
    color: #fff;
    text-decoration: none;

    &:after {
      position: absolute;
      bottom: -1px;
      left: 0;
      right: 0;
      border-bottom: 1px solid #fff;
      opacity: 0.25;
      content: "";
    }

    &:hover:after {
      opacity: 1;
    }
  }
}

.info-section {
  margin: 12px 0 0;
}
