<!DOCTYPE html>
<!--[if lt IE 8]><html class="no-js lt-ie9 lt-ie8"><![endif]-->
<!--[if IE 8]><html class="no-js lt-ie9"><![endif]-->
<!--[if gt IE 8]><!--><html class="no-js"><!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>Particulate Medusae</title>

    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {# Place favicon.ico and apple-touch-icon.png in the root directory #}
    <link rel="stylesheet" href="{{ STATIC_URL }}css/style.css" />
    {% if TEMPLATE_DEBUG %}
      <link rel="stylesheet" href="{{ STATIC_URL }}css/tests.css" />
    {% endif %}
  </head>
  <body>
    <article id="info" class="modal">
      <h1>Medusae</h1>
      <p>
        Built with <a href="http://particulatejs.org">particulate.js</a> and
        <a href="http://threejs.org">three.js</a> by
        <a href="http://twitter.com/jpweeks">jpweeks</a>.
      </p>
    </article>
    <div id="cover-info" class="modal-cover"></div>

    <div class="controls">
      <div id="toggle-info" class="controls-button" title="About"></div>
      <div id="toggle-audio" class="controls-button" title="Audio"></div>
    </div>

    <div id="container"></div>

    {% if TEMPLATE_DEBUG %}
      <script src="{{ STATIC_URL }}lib/three/three.js"></script>
      <script src="{{ STATIC_URL }}js/libs.develop.js"></script>
      <script src="{{ STATIC_URL }}js/shader-chunks.develop.js"></script>
      <script src="{{ STATIC_URL }}js/shaders.develop.js"></script>
      <script src="{{ STATIC_URL }}js/app.develop.js"></script>
      {# Run tests by appending ?test=true to the url #}
      <script>
        if (location.search.indexOf('test=true') > -1) {
          document.write('<div id="qunit"></div><div id="qunit-fixture"></div>');
          document.write('<script src="{{ STATIC_URL }}js/tests.js"></scr' + 'ipt>');
        }
      </script>
    {% else %}
      <script src="//cdnjs.cloudflare.com/ajax/libs/three.js/r70/three.min.js"></script>
      <script src="{{ STATIC_URL }}js/app.min.js"></script>
    {% endif %}
    <script>
      App.STATIC_URL = "{{ STATIC_URL }}";
    </script>
  </body>
</html>
