body {
  color: #fff;
	font: 12px/1.2 Monaco, monospace;
  -webkit-font-smoothing: antialiased;
}

h1 {
	font-size: 14px;
}

a {
  position: relative;
  display: inline-block;
  color: #fff;
  text-decoration: none;

  &:after {
    position: absolute;
    bottom: -1px;
    left: 0;
    right: 0;
    border-bottom: 1px solid #fff;
    opacity: 0.25;
    content: "";
  }

  &:hover:after {
    opacity: 1;
  }
}
